<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>SWC Discord Bot</title>
</head>
<body>
    <h2>SWC Discord Bot</h2>
    <div class="container">
        <h4>Welcome!</h4> 
        <a href="/swcanc/login"> <button>Login</button></a>
        <a href="/swcanc/register"> <button> Register</button></a>
    </div>
</body>
</html>