<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>SWC Discord Bot</title>
</head>
<body>
       <h2>SWC Discord Bot</h1>
       <h4>Type in the announcement</h3> 
        <form action="/" method="POST">
        <label for="mod_anc"></label>
        <textarea type="text" id="mod_anc" name="mod_anc" value="Dont leave this blank" rows="12" cols="80"></textarea><br><br>
        <button type="submit" value="Submit" method="POST">Submit</button>
</form>
</body>
</html>